.recherche{
    top: 80px;
    background-color:rgb(255, 255, 255) ;
    position: fixed;
    margin-left: 25%;
    margin-right: auto;
    padding-top: 30px;
    text-align: center;
    width:400px;
    //border: 1px solid rgba(0, 0, 0, 0.425);
}

.recherche label{
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: inline-block;
    text-align: center;
}

.recherche input{
    font-size: 18px;
    text-align:left;
    width: 200px;
    height: 40px;
    //padding: 12px 20px;
    //margin: 8px 8px;
    margin-top: 6px;
    margin-bottom: 10px;
    //border: 3px solid rgba(0, 0, 0, 0.425);
    transition: all 0.5s;
    border-radius: 4px;
    padding: 0px 10px;
}

.recherche button {

    background-color:rgb(209, 17, 17) ;
    margin-left: 10px;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    font-size: 18px;
    padding: 9px;
    width: fit-content;
    transition: all 0.3s;
    cursor: pointer;

}

.recherche button:hover {
    background-color:#000000a4 ;
}

.recherche button:hover span {
    padding-right: 25px;
}




.liste {
    float:left;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: auto;
    //border: 1px solid rgba(0, 0, 0, 0.425);
    width: fit-content;
    height: fit-content;
}

.liste li{
    margin-top: 10%;
    text-align:center;
    list-style-position: outside;
    list-style-type:none;
    //border: 2px solid rgba(0, 0, 0, 0.425);
}

.liste button {
    background-color:rgb(70, 70, 207) ;
    margin-left: 10px;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    font-size: 18px;
    padding: 9px;
    width: 300px;
    transition: all 0.3s;
    cursor: pointer;
}

app-vaccination-center{
  margin-left: 10%;
  float:right;
  position:fixed;
  bottom: 40%;
}
