.avertissement {
    font-size: 40px;
    font-weight: bold;
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.425);
}

.texte {
    font-size: 20px;
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.425);
}