<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <div *ngIf="loginService.getUtilisateur()">
      <button  mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="getRole()" (mouseover)="menuTrigger.openMenu()" >
        <mat-icon>menu</mat-icon>
        <span class = "user">
          <span *ngIf="this.role == null">
            Utilisateur :
          </span>
          {{this.role}}
          {{loginService.getUtilisateur()}}
        </span>
      </button>

      <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()"></span>

      <button mat-menu-item routerLink="/centers">
        <mat-icon>home</mat-icon>
        <span>Centres</span>
      </button>

      <button mat-menu-item *ngIf="this.role=='Doctor' || this.role=='Admin'" routerLink="/appointments">
        <mat-icon>calendar_today</mat-icon>
        <span>Liste des RDV</span>
      </button>

      <button mat-menu-item *ngIf="this.role=='Admin'" routerLink="/admin">
        <mat-icon>person</mat-icon>
        <span>Admin</span>
      </button>

      <button mat-menu-item (click)="loginService.logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Déconnexion</span>
      </button>

      </mat-menu>
    </div>
    <div *ngIf="!loginService.getUtilisateur() && this.router.url != '/login'">
      <a class = "connect" routerLink="/login"> Se connecter </a>
    </div>
  </span>
  <span class="fill-remaining-space">
    <span class="titre" >Vaccination COVID</span>
  </span>

  <button *ngIf="this.router.url != '/login' && this.router.url != '/centers'" mat-icon-button routerLink="/centers">
    <mat-icon>keyboard_return</mat-icon>
  </button>

</mat-toolbar>

<div>
  <router-outlet>
  </router-outlet>
</div>




