<div class =titre>
  <h1>{{title}}</h1>
</div>

<div>
  <router-outlet>
  </router-outlet>
</div>

<!-- <div *ngIf="tokens ! null">
  {{tokens}}
</div> -->

<div class = "boutons" *ngIf="loginService.getUtilisateur()">
  <div class = "user"> Utilisateur :  {{loginService.getUtilisateur()}} </div>
  <div> <button class = "myRDV" routerLink="/appointments" >Voir mes RDV</button> </div>
  <div> <button class = "logout" (click)="loginService.logout()" >Déconnexion</button> </div>
  <div> <button class = "admin" routerLink="/admin" >Admin</button> </div>
  <div> <button class = "utilisateur" routerLink="/utilisateur" >Utilisateur</button> </div>
</div>


