<div class= "liste" *ngxPermissionsOnly="'DEVELOPER'">
  <ul class="detail">
      <li *ngFor="let anAppointment of appointments">
          {{anAppointment.date}}
          <button (click)="selectAppointment(anAppointment)">
            ▼
          </button>
          <button (click)="deleteAppointment(anAppointment)">
            X
          </button>
      </li>
  </ul>
</div>

<div class= "boutons">
  <button class = "retour" routerLink="/centers">
    Retour
  </button>
</div>

<app-vaccination-center  [center]="center"></app-vaccination-center>
