
<div class="detail" *ngIf="center">
  <div class="title" >Centre sélectionné :</div>
    <span [title] = "center.name" ><a *ngIf="!URL && center" routerLink="/centers/detail/{{center.id_vaccination_center}}"></a>{{center.name | uppercase}}</span>
    <br><br>
    <span>{{center.adresse | lowercase}} <span>{{center.postal_code}} {{center.city}}</span></span>
    <!--<div>Ouvert depuis le {{center.openingDate | date:'dd/MM/Y'}}</div>-->
    <br><br>
    <button *ngIf="!URL && center" mat-icon-button routerLink="/centers/detail/{{center.id_vaccination_center}}">
      <span>Prendre RDV</span>
      <mat-icon>insert_invitation</mat-icon>
    </button>
</div>

<div *ngIf="URL && center">
  <app-appointment></app-appointment>
</div>



